---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 08 Jan 2026 20:18:52 GMT
      X-Backend:
      - F_Rails 100.21.165.41:443
      Etag:
      - '"fa72a7933543efe304687ad4b10ca861"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"David Heinemeier Hansson","built_at":"1980-01-02T00:00:00.000Z","created_at":"2026-01-08T20:18:51.400Z","description":"Ruby
        on Rails is a full-stack web framework optimized for programmer happiness
        and sustainable productivity. It encourages beautiful code by favoring convention
        over configuration.","downloads_count":1597114,"metadata":{"changelog_uri":"https://github.com/rails/rails/releases/tag/v8.1.2","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v8.1.2","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v8.1.2/","rubygems_mfa_required":"true"},"number":"8.1.2","summary":"Full-stack
        web application framework.","platform":"ruby","rubygems_version":"\u003e=
        1.8.11","ruby_version":"\u003e= 3.2.0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"5069061b23dfa8706b9f0159ae8b9d35727359103178a26962b868a680ba7d95","spec_sha":"f919202430d8ed55a09d680c97b6e2bafea3ec44f95f80f83eaeec8159dcb23c"},{"authors":"David
        Heinemeier Hansson","built_at":"1980-01-02T00:00:00.000Z","created_at":"2025-10-28T23:48:00.189Z","description":"Ruby
        on Rails is a full-stack web framework optimized for programmer happiness
        and sustainable productivity. It encourages beautiful code by favoring convention
        over configuration.","downloads_count":2255416,"metadata":{"changelog_uri":"https://github.com/rails/rails/r[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/nokogiri.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 16 Feb 2026 23:31:22 GMT
      X-Backend:
      - F_Rails 184.32.58.192:443
      Etag:
      - '"b05d6c90c5c2d00dd0653ba[...]
